@media screen {
    /* --- Reset Styles --- */
    * {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    html, body {
      height: 100%;
      width: 100%;
    }
  
    /* --- Welcome Page Styles --- */
    body {
      background-image: url('https://i.imgur.com/BLCXWFG.jpg');
      background-position: center;
      background-size: 1300px 800px;
      background-repeat: no-repeat;
      background-color: #fff;
      color: #333;
      font-family: 'Amatic SC', cursive;
      font-size: 23px;
      line-height: 20px;
    }
  
    .wrapper {
      background: rgb(236, 234, 232);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      margin: 16px auto;
      max-width: 960px;
      padding: 2%; 
      width: 60%;
      opacity: 90%;
      border-radius: 4px;
    }

    .button {
      color: rgb(40, 94, 62);
      background-color: rgb(236, 234, 232);
      font-family: 'Amatic SC', cursive; 
      font-weight: bold;
      font-size: 23px;
      width: auto;
    }
  
    a {
      color: rgb(40, 94, 62);
    }

    .a1 {
      color: #333;
    }
  
    h1 {
      font-size: 36px;
      line-height: 54px;
    }
  
    h2 {
      border-bottom: 2px solid #ccc;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 16px;
    }
  
    h3 {
      font-size: 18px;
      line-height: 36px;
    }
  
    p {
      margin-bottom: 18px;
    }
  
  }
  